<h3 class="center">My Records ( Requests )</h3>
<%- include ('partials/messages') %>
<%- include ('partials/usernav') %>

<div class="row">
    <div class="col-md-8 m-auto">
        <div class="card card-body">
            <h4 class="center">My Requests</h4>
        </div>
    </div>
</div>
<% if(requests) { %>
   <% if(requests.length === 0) { %>
    <div class="row">
        <div class="col-md-8 m-auto">
            <div class="card card-body">
                <h4 class="text-danger ">You have never made requests to receive blood</h4>
            </div>
        </div>
    </div>
        <% } %>
    <% requests.forEach(request => {%>
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="card card-body">
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>BloodGroup</th>
                            <th>Receival Location</th>
                            <th>Phone Number</th>
                            <th>Received ?</th>
                        </tr>
                        <tr>
                            <td><%= request.fullName%></td>
                            <td><%= request.bloodGroup %></td>
                            <td><%= request.location %></td>
                            <td><%= request.phoneNumber %></td>
                            <td><%= request.received %></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
<% }) }  %>
    
