
<h3 class="center"> User's Information Cards</h3>

<%- include ('partials/nav') %>
<%- include ('partials/messages') %>
<% if(userinfos) { %>
    <% userinfos.forEach(userinfo => {%>
    <div class="row">
        <div class="col-md-6 m-auto">
            <div class="card card-body mt-4">
                <h3>Full Name: <span class="text-primary"><%= userinfo.fullName %></span></h3>
                <h3>ID Number: <span class="text-primary"><%= userinfo.id %></span></h3>
                <h3>Blood Group: <span class="text-primary"><%= userinfo.bloodGroup %></span> </h3>
                <h3>Rhesus Factor: <span class="text-primary"><%= userinfo.rh %></span></h3>
                <h3>Phone Number: <span class="text-primary"><%= userinfo.phoneNumber %></span></h3>
                <h3>City: <span class="text-primary"><%= userinfo.city %></span></h3>
                <h3>Address: <span class="text-primary"> <%= userinfo.address %> </span></h3>
                <div class="col-md-12">
                    <a href="/edit/<%= userinfo._id%>"class="btn btn-info float-right mt-4">Edit Record</a>
                </div>
                
            </div>
        </div>
    </div>
    <% }) %>
<% } else {%>
    <div class="row">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <h3 class="center">No user information is available</h3>
            </div>
        </div>
    </div>
<% } %>
